a.ghost, a.gray, a.disabled
  border-radius: 1px
  padding: .2em .6em

a.ghost
  background-color: #336699
  border: 0.5px solid #336699
  color: white
  transition: .1s

a.ghost:hover
  background-color: transparent
  border-color: #336699
  color: #336699

a.gray, a.disabled
  background-color: reduce(8)
  transition: .25s

a.gray:hover
  background-color: reduce(20)
